/* ##########################################################
 * StyleBox.css
 * @version 1.1.0
 * created by James S. Hackney
 * copyright 2016 by db6 Software
 * GIT URL - https://github.com/dbs6/stylebox
 * ########################################################## */

.StyleBox {
    background-color: #ffffff; /* user option (do not change) */
    text-align: center; /* user option (do not change) */
    font-family: verdana, helvetica, arial;
    font-size: 10px;
    margin: 0 auto; /* required (do not change) */
    position: absolute; /* required (do not change) */
    top: 50%; /* required (do not change) */
    left: 50%; /* required (do not change) */
    z-index: 1999; /* required (do not change) */
    border-radius: 0; /* user option (do not change) */
    border: 1px solid #ffffff; /* user option (do not change) */
    box-sizing: border-box; /* required (do not change) */
}

.MsgTop, .MsgAlert {
    text-align: left;
    padding: 6px;
    overflow: hidden; /* required (do not change) */
    border-radius: 0 0 0 0; /* user option (do not change) */
    border-bottom: 1px solid #ffffff; /* user option (do not change) */
    background-color: #ffffff; /* user option (do not change) */

}

.MsgTitle {
    font-size: 2.2em;
    font-family: Arial Bold, arial;
    font-weight: bold;

}

.MsgAlert .MsgTitle {
    color: #ffffff; /* user option (do not change) */
}

.MsgTop .MsgTitle {
    color: #000000; /* user option (do not change) */
}

.MsgTop .MsgIcon {
    padding: 0 4px 0 4px;

}

.MsgBottom .MsgIcon {
    padding-right: 10px;

}

.MsgClose {
    background-color: #ffffff; /* user option (do not change) */
    color: #6A6A6A; /* user option (do not change) */
    cursor: pointer; /* required (do not change) */
    position: absolute; /* required (do not change) */
    border: 0px solid #ffffff; /* user option (do not change) */
}

.circle {
    font-size: 1.8em;
    top: -13px; /* required (do not change) */
    right: -13px; /* required (do not change) */
    width: 26px; /* required (do not change) */
    height: 26px; /* required (do not change) */
    border-radius: 50%; /* required (do not change) */
}

.corner {
    font-size: 2.6em;
    top: -10px; /* required (do not change) */
    right: -12px; /* required (do not change) */
    width: 30px; /* required (do not change) */
    height: 28px; /* required (do not change) */
    border-radius: 0; /* user option (do not change) */
    overflow: hidden; /* required (do not change) */
    transform: rotate(45deg); /* required (do not change) */
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}

.simpleX {
    font-size: 1.8em;
    top: 0; /* required (do not change) */
    right: 4px; /* required (do not change) */
    border-style: none; /* required (do not change) */
}

.CloseIcon {
    position: absolute; /* required (do not change) */
    top: 50%; /* required (do not change) */
    left: 50%; /* required (do not change) */
}

.MsgBody {
    font-size: 1.6em;
    text-align: left; /* user option (do not change) */
    padding: 25px 50px 25px 50px;
    display: table; /* required (do not change) */
    overflow: hidden; /* required (do not change) */
}

.MsgText {
    color: #000000; /* user option (do not change) */
    padding: 15px;
    display: table-cell; /* required (do not change) */
    vertical-align: middle; /* required (do not change) */
}

.MsgBottom {
    background-color: #ffffff; /* user option (do not change) */
    font-size: 1.4em;
    border-top: 1px solid #ffffff; /* user option (do not change) */
    overflow: hidden; /* required (do not change) */
    min-height: 40px; /* required (do not change) */
    padding: 6px;
    border-radius: 0 0 0 0; /* user option (do not change) */
}

.ButtonBar {
    overflow: hidden; /* required (do not change) */
}

.MsgButton {
    font-size: 1.1em;
    font-family: Arial Bold, arial;
    font-weight: bold;
    color: #6A6A6A; /* user option (do not change) */
    margin: 4px 6px 4px 0;
    border: 0px solid #ffffff; /* user option (do not change) */
    float: right;
    cursor: pointer; /* required (do not change) */
    padding: 8px 12px;
    min-width: 60px; /* required (do not change) */
    white-space: nowrap; /* required (do not change) */
    border-radius: 0; /* user option (do not change) */
    background-color: #ffffff; /* user option (do not change) */
}

.MsgOverlay {
    position: absolute; /* required (do not change) */
    left: 0; /* required (do not change) */
    top: 0; /* required (do not change) */
    background: #000000; /* user option (do not change) */
    width: 100%; /* required (do not change) */
    height: 100%; /* required (do not change) */
    z-index: 1000; /* required (do not change) */
}

.MsgAlert {
    background-image: -webkit-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10) 15px, rgba(255, 255, 255, 0.25) 15px, rgba(255, 255, 255, 0.25) 30px);
    background-image: -o-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10) 15px, rgba(255, 255, 255, 0.25) 15px, rgba(255, 255, 255, 0.25) 30px);
    background-image: -moz-repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10) 15px, rgba(255, 255, 255, 0.25) 15px, rgba(255, 255, 255, 0.25) 30px);
    background-image: repeating-linear-gradient(135deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10) 15px, rgba(255, 255, 255, 0.25) 15px, rgba(255, 255, 255, 0.25) 30px);
}

#msgIcon-warning {
    color: #f58337;
}

.MsgAlert #msgIcon-warning, .MsgAlert #msgIcon-info, .MsgAlert #msgIcon-confirm, .MsgAlert #msgIcon-error, .MsgAlert #msgIcon-question, .MsgAlert #msgIcon-success, .MsgAlert #msgIcon-danger {
    color: #ffffff;
}

#msgIcon-info {
    color: #0000FF;
}

#msgIcon-confirm {
    color: #0e9e0e;
}

#msgIcon-error {
    color: #f25858;
}

#msgIcon-question {
    color: #0000FF;
}

#msgIcon-success {
    color: #0e9e0e;
}

#msgIcon-danger {
    color: #f25858;
}

/* for release 1.1.1
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(Lib/Material%20Design%20Icons/iconfont/MaterialIcons-Regular.eot);
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(Lib/Material%20Design%20Icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(Lib/Material%20Design%20Icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(Lib/Material%20Design%20Icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers.
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome.
    text-rendering: optimizeLegibility;

    /* Support for Firefox.
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE.
    font-feature-settings: 'liga';
}
*/